:root {
  --dark-text: black;
  --light-text: white;
  --light-disc: #ffffff;
  --light-halo: #feffc7;
  --dark-disc: black;
  --background: black;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 3vh;
}

@media only screen and ((max-width: 768px) or (max-height: 412px)) {
  html {
    font-size: 12pt;
  }
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
}

h1.small-text {
  font-size: 1.2rem;
}
h2.small-text {
  font-size: 1rem;
}
p.small-text {
  font-size: 0.9rem;
}

#app-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
}

.page {
  animation: fadein 1s linear;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.centered-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-text {
  text-align: center;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dark-text {
  color: var(--dark-text);
}

.light-text {
  color: var(--light-text);
}
